/* table {
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

td, th {
      background-color: rgb(158, 212, 253);
} */

/* table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border:0;
}

table th {
  background-color: #555;
  color: white;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr:nth-child(even) {
  background-color: #eee;
} */

.alluserstable {
   font-family: Arial, sans-serif;
   border-collapse: collapse;
   /* width: 100%; */
   border: 2px rgb(255, 255, 255) solid;
   border-radius: 10px;
   max-height: 100px;
   
   overflow-x: scroll;
   overflow-y: scroll;
   
}

th {
   /* background-color: #f2f2f2;
  color: #333333;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #ddd; */
   background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.trtitle {
   background-color: #c055f9;
}

.alluserstable tr {
   color: #666666;
   height: 50px;
   border: 0;
}

.alluserstable td {
   padding: 4px;
   width: 200px;
   border-bottom: 1px solid #f2f2f2;
   border: 0;
}

tr:nth-child(even) {
   background-color: #f9f9f9;
}

tr:nth-child(odd) {
   background-color: #f9f9f98c;
}

.td1 {
   background-color: #8310ff7a;
   color: white;
}

input {
   padding: 5px;
   margin: 5px 0px;
   width: 120px;
   border-radius: 5px;
   border: 1px solid gray;
}

select {
   width: 80px;
   padding: 5px;
   margin: 5px 0px;
   border-radius: 5px;
   border: 1px solid gray;
}

/* input:invalid:focus{ */
/* input:invalid[focused="true"] {
   border: 2px solid red;
} */

tbody tr:hover {
   background-color: #c055f9;
   color: rgb(250, 250, 250);
   /* border: 2px solid #333; */
   box-shadow: 0 0 0 3px white;
}

.app {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 95vh;
   background: linear-gradient(
         rgba(255, 255, 255, 0.7),
         rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
   background-size: cover;
   background-position: center;
   z-index: 1;
}

.allusers {
   background-color: rgb(216, 156, 255);
   padding: 20px 10px;
   border-radius: 10px;
}

.list_table {
   background-color: rgb(248, 238, 255);
   padding: 10px 10px;
   border-radius: 10px;
}

.list_table tr:nth-child(even) {
   background-color: #f9f9f98c;
}

.list_table tr:nth-child(odd) {
   background-color: #e5d2ff;
}

.list_table tr:hover {
   background-color: #c055f9;
   color: rgb(250, 250, 250);
   /* border: 2px solid #333; */
   box-shadow: 0 0 0 3px white;
}

h1 {
   color: rgb(77, 1, 77);
   text-align: center;
}

.edit {
   height: 50px;
   width: 120px;
   padding: 10px;
   border: none;
   background-color: rgb(88, 110, 210);
   color: white;
   border-radius: 5px;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
   margin-top: 15px;
   margin-bottom: 30px;
}
.edit:hover{
  box-shadow: 0 0 0 3px white;
}

.delete {
   height: 50px;
   width: 120px;
   padding: 10px;
   border: none;
   background-color: rgb(153, 51, 51);
   color: white;
   border-radius: 5px;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
   margin-top: 15px;
   margin-bottom: 30px;
}
.delete:hover{
  box-shadow: 0 0 0 3px white;
}

.admin_btn {
   height: 50px;
   width: 120px;
   padding: 10px;
   border: none;
   background-color: rgb(15, 191, 129);
   color: white;
   border-radius: 5px;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
   margin-top: 15px;
   margin-bottom: 30px;
}
.admin_btn:hover{
  box-shadow: 0 0 0 3px white;
}

.search_btn {
   height: 42px;
   width: 120px;
   padding: 10px;
   border: none;
   background-color: rgb(88, 210, 98);
   color: white;
   border-radius: 5px;
   font-weight: bold;
   font-size: 18px;
   cursor: pointer;
   margin-left: 10px;
   margin-top: 15px;
   margin-bottom: 30px;
}
.search_btn:hover{
  background-color: rgb(85, 247, 158);
  box-shadow: 0 0 0 3px white;
}
.scrolltable {
   overflow-x: scroll;
   overflow-y: scroll;
}

.formSelect{
   width:150px;
}