.sidebar {
  /* background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ); */
  /* background-color: blueviolet;
   */
   background-image: linear-gradient(to right, rgb(229, 168, 255), rgb(253, 222, 253));
   border: 2px black solid;
   height: 60px;
   /* display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;   */
   z-index: 999;
}

/* .button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
} */

.sidebar button {
  /* width: 10%; */
  width:180px;
  height: 40px;
  /* padding: 10px; */
  border: 2px white solid;
  background-color: rgb(166, 102, 230);
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 8px;
  /* margin-bottom: 30px; */
  margin-right: 0px;
  margin-left:10px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.sidebar button:hover{
      background-color: rgb(136, 22, 250);
      box-shadow: 0 0 0 3px rgb(106, 26, 255);
      /* border: 2px rgb(0, 0, 0); */
}